@font-face{
	font-family: "Action Comics";
	src: url("#{resource['fonts:Action Comics.ttf']}");
}

.background-pic {
	background-image: url("#{resource['images/background.jpg']}");
}

.login-title {
	font-family: Action Comics;
}

.title {
	padding: 80px 0;
}

.top {
	background-color: #205081;
	height: 50px;
	padding-top: 0px;
	margin-top: 0px;
}

.userLogado {
	text-transform: uppercase;
	font-family: Action Comics;
	font-size: 14px;
	color: #ffffff;
	margin-top: 40px;
	margin-right: 20px;
}

.page-title {
	font-family: Action Comics;
	padding: 20px 0px;
	color: #ffffff;
	font-size: 24px;
}

.page-title-top {
	padding-left: 20px;	
}

.blue {
	background: #286090;
}

.left{
	height: 100%;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.content {
	padding-top: 20px;
}
	
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    border-style: none;
}